<h1 class = "page-header">Listing people <%= link_to 'New Person', new_person_path, class: "btn btn-primary pull-right" %></h1>


<table>
  <thead>
    <tr>
      <th class="col-md-2">First name</th>
      <th class="col-md-2">Last name</th>
      <th class="col-md-2">Date of birth</th>
      <th class="col-md-2">Bio</th>
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <div><td class="col-md-2"><%= person.first_name %></td></div>
        <td class="col-md-2"><%= person.last_name %></td>
        <td class="col-md-2"><%= person.date_of_birth %></td>
        <td class="col-md-2"><%= person.bio %></td>
        <td class="col-md-1"><%= person.active %></td>
        <td class="col-md-1"><%= link_to 'Show', person %></td>
        <td class="col-md-1"><%= link_to 'Edit', edit_person_path(person) %></td>
        <td class="col-md-1"><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="well example">
  <p>
    <strong>
      It should look like this:
    </strong>
  </p>

  <%= image_tag "list-people.png", class: "img-responsive" %>
</div>
